.contenido{
      width:100%;
      margin: auto;
      max-width: 900px;
      box-sizing: border-box;
      height: auto;
      -webkit-animation: 2s slidein 1;
}

@-webkit-keyframes slidein{
  1%{
    -webkit-transform:translateY(150%);
  }
  60%{
    -webkit-transform:translateY(-5%);
  }
  100%{
    -webkit-transform:translateY(0);
  }
}

body {
      font-family:Dancing Script;
      background-color:#02010a;
}

header {      
      width:97.8%;
      height: 70px;
      background-color:#5b7989;
      border-radius:10px 10px 0px 0px;
      overflow: hidden;
      padding: 10px;
      color: white;
      margin-bottom:0;
      margin-top: 20px;
}

.wrapper{
    width: 100%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
}

header .titulo{
    font-size:2em;
    line-height:50px;
    float:left;
    margin-left:0.4%;
}

header .enlaces{
    float:right;
    font-size:2em;
    line-height:50px;

}

header nav a{
      display: inline-block;
      color: white;
      text-decoration: none;
      padding:10px 20px;
      line-height: normal;
      font-size:20px;
      font-weight: bold;
      -webkit-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease;

}

header nav a:hover{
      background-color:#8AAAEB;
      border-radius:30px;
}

.segundo{
    width:100%;
    height:354px;
    background-color:#82c3a6;
    overflow: hidden;
    box-sizing: border-box;
}

#imagen1{
    height:300px;
    text-align:center;
    margin: auto;
    padding:10px;
    border-radius:10px;
    box-shadow: 2px 2px 2px #02010a;
}

.tercero{
    width:100%;
    height:300px;
    background-color:#d5c75f;
    overflow: hidden;
    box-sizing: border-box;
}

#imagen2{
      width: 70%;
      box-shadow: 2px 2px 2px #02010a;
}

.tercero1{
          width:45%;
          margin: auto;
          height:auto;
          overflow: hidden;
          float: left;
          padding:10px;
          border: 1px solid #d5c75f;
          font-size:2em;
          box-sizing: border-box;
}

.tercero1{
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg); // IE 9
      -moz-transform: rotate(0deg); // Firefox
      -o-transform: rotate(0deg); // Safari and Chrome
      -ms-transform: rotate(0deg); // Opera
      -webkit-transition: all 500ms ease-in-out; // IE 9
      -moz-transition: all 500ms ease-in-out; // Firefox
      -ms-transition: all 500ms ease-in-out; // Safari and Chrome
      -o-transition: all 500ms ease-in-out; // Opera
}

.tercero1 :hover {
      transform: rotate(10deg);
      -webkit-transform: rotate(10deg); // IE 9
      -moz-transform: rotate(10deg); // Firefox
      -o-transform: rotate(10deg); // Safari and Chrome
      -ms-transform: rotate(10deg); // Opera
}

#imagen3{
      width: 70%;
      box-shadow: 2px 2px 2px #02010a;
}

.tercero2{
    width:50%;
    margin: auto;
    height:auto;
    overflow: hidden;
    float: right;
    padding:10px;
    border: 2px solid #d5c75f;
    font-size:2em;
    box-sizing: border-box;
    
}

.tercero2{
          transform: translate();
          -webkit-transform: translate(); // IE 9
          -moz-transform: translate(); // Firefox
          -o-transform: translate(); // Safari and Chrome
          -ms-transform: translate(); // Opera

    }

.tercero2 :hover {
          transform: translate(20px,5px);
          -webkit-transform: translate(20px,5px); // IE 9
          -moz-transform: translate(20px,5px); // Firefox
          -o-transform: translate(20px,5px); // Safari and Chrome
          -ms-transform: translate(20px,5px); // Opera
}